
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000000ef;
}
.top-bar{
    position: fixed;
}
 .typelang{
  color: #ffffff;
  background-color: #262529;
  box-shadow:  0px 3px 7px #38333b67 ;
  padding: 3px;
  margin: 3px;
  border: none;

}
footer{
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 60px;
  font-size: 14px;
  color: #777;
}
footer a {
  color: #a9adc9;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: rgba(130, 40, 208, 0.993);
}

.content {
  position: relative;
  top: 60px;
  width: 100%;
  border: none;
   
}

.logo{
  user-select: none;
  position: relative;
  color: #fff;
  
  font-size: 38px;
  font-weight: bold;
  font-family: "Crimson Text", serif;

}
.header-blur{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background: rgba(45, 44, 51, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  z-index: -1;

}
header{

  z-index: 1000;
  min-height: 70px;
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  user-select: none;
}

.linkHome {
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav .combobox-toggle,
nav .linkHome{
  font-size: 16px;
  color: #fff;
  padding:  8px;
  margin: 2px;
  


}


.combobox {
  position: relative;
}

.combobox-toggle {
  background: rgba(45, 44, 51, 0);
  border: none;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 4px;
  transition: background-color 0.3s ease;

}

.linkHome:hover,
.linkHome:active,
.combobox-toggle:hover,
.combobox-toggle.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.arrow {
  transition: transform 0.3s ease;
  display: inline-block;
  line-height: 1;
  user-select: none;
}

.combobox-toggle.active .arrow {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 4px;
  min-width: 230px;
  padding: 1px 1px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.combobox.open .dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  background: rgba(45, 44, 51, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
}

.dropdown a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

.dropdown a:hover {
  background: rgba(119, 117, 130, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s ease;
}

@media (max-width: 414px) {
  .logo{
    font-size: 28px;
  }
  nav .combobox-toggle,
  nav .linkHome{
    font-size: 14px;
  }
  header{
    padding: 2%;
  }
}


