.container{
  position: relative;
  display: flex;
  gap: 20px;

  flex-direction: column;
  width: 95%;

}
/* top banner*/
.top-banner-d {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  color: #ffffffec;
  width: 100%;
  margin-top: 20px;


}


.back-link {
  position: absolute;
  left: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.back-link:hover {
  color: #c9b3ff;
}
/*end*/



/*карточки с ценами*/
.contWithPartsWithCost {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #fff;
}




.partWithCost {
  flex: 1 1 500px;

  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: #1a1a1c 2px solid;

  background: rgba(26, 26, 28, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  padding: 10px;
  border-radius: 6px;

  font-size: 18px;


}
.contForPrice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  
}
.ForPrice{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  padding: 10px;
  font-weight: 300;
}

.itemName {
  color: #ffffffec;

  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;

}

.NamePrice {
  color: #d9d5de;
  font-size: 18px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.NameAveragePricePrice {
  color: #ffffffec;

  margin-top: 10px;
  font-size: 20px;
  font-weight: 300;

  display: flex;
  justify-content: space-between;

}

/*end*/
/*контейнер карточек для part*/

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #ffffffec;
  
  
}
.contForCard {
  display: flex;
  flex-direction: column;
  flex: 1 1  400px;
  gap: 10px;
  height: 240px;
  position: relative;
}

.contForCard:hover .NamePart {
  max-height: 25px;
  font-size: 18px;
  color: transparent;
  background-color: #c7afec40;

}

.contForCard:hover .NamePartHidden {
  opacity: 1;
  transition: opacity 0.8s ease-in,text-shadow 0.6s ease-in;
}


/*end*/

/*описание карточек*/
.part-card {
  flex: 1;
  background-color: #1a1a1c;
  border-radius: 0 0 12px 12px;
  font-size: 18px;
  padding: 10px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.part-card button {
  flex: 1;
  margin: 5px 0;
  padding: 8px 12px;
  background: rgba(195, 141, 224, 0.066);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  color: rgba(255, 255, 255, 0.652);
  border: 1px solid #333336;
  border: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

button:hover {
  background: rgba(195, 141, 224, 0.141);
}
.NamePart {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1a1a1c;
  border-radius: 12px 12px 0 0;
  font-size: 30px;
  align-items: center;
  font-weight: 200;
  overflow: hidden;
  max-height: 100px;
  transition: color 0.5s ease, max-height 0.5s ease, background 0.5s ease, font-size 0.7s ease;
  user-select: none;
}


.relic-name,
.descriptionFallRelic {
  flex: 1;
  display: flex;
  justify-content: space-between;
  transition: color 0.3s ease-in;
  font-weight: 200;

}

.NamePartHidden {
  display: flex;
  justify-content: center;
  font-family: 'Major Mono Cyrillic', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: -20px;
  text-shadow: -5px 0px 1px rgba(255, 255, 255, 0.719);
  opacity: 0;
  z-index: 0;
}

.contBtn {
  user-select: none;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease;
  
}


.btns {
  display: flex;
  gap: 10px;
}
/*end*/

@media (max-width: 524px) {
  .back-link {
    font-size: 14px;
  }

  .top-banner {
    font-size: 10px;
    justify-content: right;
  }
}