

body {
  font-family: 'IBM Plex Mono', monospace;
background-color: #000000e8;
  color: white;
  margin: 0;
}
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none; 
}

main {
  padding-bottom: 40px; 
}

.top-banner {
  background-color: #262529;
  display: flex;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  margin: 0 0 10px;
  font-size: 28px;
  color: #e6e1eb;
}

#date {
  font-size: 14px;
  color: #777;
}

#filters {
  display: flex;
  justify-content: left;
  font-weight: bolder;
  font-size: 19px;
  align-items: center;
   margin: 20px 15px 20px;

  gap: 10px;
  flex-wrap: wrap;
}

#typeFilter {
  padding: 8px 12px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #2d2c33;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.286);

  font-size: 13px;
  border: none;}

/* Сетка карточек */
#relicGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  max-width: 95%;
  margin: 0 auto;
}

.relic-card {
  border-radius: 16px;
  padding: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.286);
  border:  #ffffff19 1px solid;

  display: flex;
  
  min-height: 100px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.relic-card:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Фон карточки */
.grid-background {
  flex: 1;
  width: 100%;
   background-color: rgba(0, 0, 0, 0.388);

  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

/* Размытый оверлей */
.blur-overlay {
  position: absolute;
  inset: 0;
   background-color: rgba(0, 0, 0, 0.558);
  display: flex;
  flex-direction: column;
  justify-content: center; /* по вертикали */
  align-items: flex-start; /* всё влево */
  color: #fff;
  border-radius: 16px;
  text-align: left; /* текст тоже влево */
  padding: 20px;
  
}
.new-badge {
  color: #b1a3c3;
  font-weight: bold;
  font-size: 16px;
  margin-left: 6px;
}
 

/*hover card */
.blur-overlay:hover  {
  background: rgba(0, 0, 0, 0.179);
  transition: background  0.5s ease;
}

.relic-card:hover .relic-tier  {
  color: transparent;
  transition: color 0.2s ease;
}
.relic-card:hover .new-badge  {
  color: transparent;
  transition: color 0.2s ease;
}
.relic-card:hover .relic-link{
 opacity: 1;
  transition: opacity 0.7s ease;
}
/*text */
.relic-title {
  font-size: 17px;
  font-weight: bold;
  color: #e6e1eb;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.relic-tier {
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
}
.relic-tier:hover {
  color:transparent;
}

.relic-link {
  opacity: 0;
  text-align: right;
}

a.market-link {
  background-color: #413e4a;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 13px;
  transition: background-color 0.2s;
}

a.market-link:hover {
  background-color: #57545f;
}
/*footer*/
footer {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 40px;
}

.footer a {
  color: #a9adc9;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
