
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scrollbar-width: none; 
}
html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'IBM Plex Mono', monospace;
    color: white;
}

#date {
  font-size: 14px;
  color: #777;
}

.top-banner {
  background: #262529;
  background: radial-gradient(circle, rgba(38, 37, 41, 1) 0%, rgba(45, 43, 49,1) 88%, rgba(50, 46, 53, 1) 100%);
  box-shadow:  0px 3px 7px #38333b67 ;
  display: flex;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  padding: 25px 0px  15px 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
}




/* filter */
#filters {
  display: flex;
  justify-content: left;
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding: 10px 0;
  font-weight: bolder;
  font-size: 19px;
}

#typeFilter {
  padding: 6px 12px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #262529;
  box-shadow:  0px 3px 7px #38333b67 ;
  font-size: 13px;
  border: none;
}

/* FlexBox */
main{
  display: flex;
  justify-content: center;
  

}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;

  width: 95%; 

}

.grid-item {
  flex:  1 1 300px;
  height: 150px;
  min-width: 300px;
   border-radius: 15px;
  border: rgba(78, 77, 77, 0.353) 1px solid;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 #262529;
  transition: box-shadow 0.6s, clip-path 1s  ease;
  clip-path: inset(0 0 0 0);
}



/* === structure-item  === */
.item-background {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 15px;
  padding: 10px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.453);
  color: #ffffff00;
  font-size: 30px;
  font-style: 900;
  font-family: 'Major Mono Display', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 10px;
}

.item-img {
  position: absolute;
  z-index: 0;
  display: flex;
  right: 0;
  width: 40%;
  height: 100%;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  filter: brightness(0.5);
  transform: scale(2);
  transition: transform 0.6s ,brightness 0.3s ease ;
  
}

.new-badge {
  color: #c7afec;
  font-size: 16px;
  text-shadow: 1px 1px 10px #a26aadbc;
  transition: color 0.8s ease-out, text-shadow 1.2s ease-out ;

}

.description-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding:0  20px ;
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content: center;
  z-index: 3;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;

}
.addition{
  color: #a4a4a4;


}
.grid-item:hover{
  box-shadow: 0 1px 10px #38333B;
  overflow: visible;
  clip-path: inset(-10px -10px -10px -10px);
  z-index: 1000;
  
}
.grid-item:hover .item-img{
  background-color: rgba(0, 0, 0, 0);
  filter: brightness(1);
  transform: translateX(10px) scale(1.5);
}
.grid-item:hover .item-background{
  color: #ffffff26;
  text-shadow:1px 0px 5px #b19dc338 ;
  transition: color 1s, text-shadow 2s ease;
}

.grid-item:hover .description-card,
.grid-item:hover .addition,
.grid-item:hover .name-card,
.grid-item:hover .new-badge{
  color: #d6d3e000;
  text-shadow: 1px 1px 10px #a26aad00;
  transition: color 0.1s ease-in , shadow 0.1s ease-in ;
  
}





/*footer*/
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  font-size: 14px;
  color: #777;
 
}

footer a {
  color: #a9adc9;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
